@model List<Product>

<div class="card show-header border-0 mt-4 shadow">
    <div class="card header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center ">
                <h3 class="text-white"> Product Listings </h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6 text-end">

            </div>
            <div class="col-6 text-end">
                <a asp-area="Admin" asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                    Create New Product <i class="bi bi-plus-circle"></i>
                </a>
            </div>
        </div>
        <div class="pt-3">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th> Product Title </th>
                        <th> Author </th>
                        <th> List Price </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td> @product.Title  </td>
                            <td> @product.Author  </td>
                            <td> @product.ListPrice  </td>
                            <td>
                                <div class="w-100" role="group">
                                    <a class="btn w-25 btn-primary mx-3" asp-area="Admin" asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id">
                                        Edit <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a class="btn w-25 mx-3  btn-outline border-danger" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">
                                        Delete <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>